<p id="notice"><%= notice %></p>
<p>
  <%= @tower.name %>(<%= @tower.x %>/<%= @tower.y %>)<br>
  <%= @tower.points %>
</p>


<center>

<table>

  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
	<tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>


</table>

</center>