<p id="notice"><%= notice %></p>
<p>
  <%= @tower.name %>(<%= @tower.x %>/<%= @tower.y %>)<br>
  <%= @tower.points %>
</p>


<center>

<table>

  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
	<tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>
  <tr>
    <td>
    s
    </td>
    <td>
    s
    </td>
    <td>
    s
    </td>
  </tr>


</table>
</center>
<br>
<br>
<br>
<br>
<br>
<br>

Bauen:

<table>
 <th>Bauplatz</th>
 <th>Gebäude</th>
 <th>Kosten</th>
 <th>Bauzeit</th>
 <th></th>
  <tr>
    <td>
      1. Turmabschnitt
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    Fire
    </td>
    <td>
    2123
    </td>
    <td>
    323
    </td>
    <td>
    <%= link_to "Bauen",  :controller => 'towers', :action => 'built' , :place => :space1 , :building => 'fire1' %>
    </td>
  </tr>
 </table>