<p id="notice"><%= notice %></p>

<p>
  <b>Dmg:</b>
  <%= @air.dmg %>
</p>

<p>
  <b>Rate:</b>
  <%= @air.rate %>
</p>

<p>
  <b>Boni:</b>
  <%= @air.boni %>
</p>


<%= link_to 'Edit', edit_air_path(@air) %> |
<%= link_to 'Back', airs_path %>
